.container {
  background-color: #882323;
  margin-top: 5;

  .title:hover{
    background-color: #966767;
    cursor: pointer;
  }
  .title {
    display: flex;
    align-items: center;
    padding: 5;
    height: 20;
    img {
      height: 20;
      width: 20;
    }
    div {
      padding-left: 5;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .details {
    cursor: pointer;
    padding: 5;
    background-color: #966767;
    height: 40;
    div {
      padding-left: 5;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

